<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
      $(document).ready(function (){
        // this triggers the connection event in our server!
        var socket = io.connect();
        console.log(socket);
        // we'll write all the socket stuff after the above line!
        $('button').click(function (){
          // when button is clicked we will grab form data and send it to our server
          var formData = $('form').serializeArray();
          socket.emit("posting_form", formData);
        });
        socket.on('updated_message', function (response){
          // response we receive from server will be displayed as new p's
          var data = response['response'];
          $('.response').show();
          $('.response').append(`<p>You emitted the following information to the server: { name: ${ data.name }, location: ${ data.location }, language: ${ data.language }, comment: ${ data.comment }}</p>`)
        });
        socket.on('random_number', function (){
          // select a random number with our data
          var random_number = Math.floor(Math.random()*1001);
          $('.response').append(`<p>Your lucky number emitted by the server is ${ random_number }</p>`)
        });
      })
    </script>
  </head>
  <body>
    <div class="response">
    </div>
    <div class="info">
      <form class="pure-form pure-form-aligned">
        <fieldset>
          <div class="pure-control-group">
            <label for="name">Your Name:</label>
            <input id="name" name="name" type="text">
          </div>

          <div class="pure-control-group">
            <label for="location">Dojo Location:</label>
            <select id="location" name="location">
              <option>Los Angeles</option>
              <option>Seattle</option>
              <option>Chicago</option>
            </select>
          </div>

          <div class="pure-control-group">
            <label for="language">Favorite Language:</label>
            <select id="language" name="language">
              <option>JavaScript</option>
              <option>Python</option>
              <option>C++</option>
            </select>
          </div>

          <div class="pure-control-group">
            <label>Comments(optional):</label>
            <textarea name="comment" class="pure-input-1-2"></textarea>
          </div>

          <div class="pure-controls">
            <button type="button" class="pure-button pure-button-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
