<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to QuotingDojo</h1>
    <form action="/users" method="post">
      <label for="name">Your name:</label>
      <input type="text" id="name" name="name" value="">
      <label for="quote">Your quote: </label>
      <input type="text" id="quote" name="quote" value="">
      <input type="submit" name="add_quote" value="Add my quote!"></input>
      <input type="submit" name="skip" value="Skip to quotes!"></input>
    </form>
  </body>
</html>
